/*homuta 黒背景設定*/

html{
}

body{
    color: #eee; /*222*/
    background: #000; /*fefefe*/
}

a{
    color: #666; /*222*/
}
a:hover{
    color: #980;
}

/*----------ヘッダーメニュー----------------------------------------------------------------------*/
#header{
    line-height: 200%; 
    /*background: #eee; fefefe*/
}

#header_title li a{
    color: #fefefe;
}

#menu a{
    color: #666;
    text-decoration: #666 underline 1px;
}
.header_color1{
    color: #f00;
   margin-left:0px;
}

/*----------インデックスページの配置設定----------------------------------------------------------------------*/


/*----------ページ見出し----------------------------------------------------------------------*/


/*----------小見出し----------------------------------------------------------------------*/


/*----------トピック（Eventページにコピペできるようにする）----------------------------------------------------------------------*/
#topics .newsList{
    color: #fefefe;
    /*background-color: #;*/
    border-left: solid 0px #000;/*左側の線*/
}
#topics a{
    color: #fefefe;
}
#topics a :hover{
    color: #222;
}

/*----------ニュースリスト----------------------------------------------------------------------*/


/*----------作品リスト----------------------------------------------------------------------*/


/*----------ドキュメントリスト----------------------------------------------------------------------*/
 
 
/*----------普通の文章----------------------------------------------------------------------*/


/*----------作品----------------------------------------------------------------------*/
.work_slash a{
    color: #666;
}
.work_slash a:hover{
    color: #666;
}
/*----------写真キャプション----------------------------------------------------------------------*/
.photo_caption{
    color: #999;
     }

/*----------サイト内リンク----------------------------------------------------------------------*/

.insite_link{
    color: #22f;
}
.insite_link_right{
    color: #22f;
}
.to_page_top{
    color: #22f;
}

/*横並び設定*/


/*----------更新日時----------------------------------------------------------------------*/


/*----------SNSリストul----------------------------------------------------------------------*/


/*----------フッター----------------------------------------------------------------------*/


/*----------特定の画面幅以下になったら改行（ヘッダタイトルに使用）-----------------------------------------*/    


/*----------特定の画面幅以下になったら改行２（文章など）----------------------------------------------------------------------*/    


/*============フェードイン============*/


/*============画像フェード切り替え============*/


/*========================================================*/