@charset "UTF-8";

/*鬼ころし chorale-1.html*/
.onikoroshiBack{
    height: 720px; 
    background-image: url("../../img/other/20240103_oni-koroshi.jpg");
    background-size:  cover;
    background-repeat: repeat;
    background-position: center;
}